// Place all the styles related to the shows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 #user-menu {
   padding: 1rem;
   margin-bottom: 1rem;
   font-size: 1.3rem;
 }

.nav {
  display: inline-block;
}

#movie-card {
  margin-bottom: 1.3rem;
}

#search-bar {
  margin-bottom: 2.5rem;
}
