
<div class="row" id="user-menu">
  <div class="container">
    <ul>
      <li class="col-sm-6 text-xs-right">
        <%= link_to "Discover Products", root_path %>
      </li>
      <li class="col-sm-6 text-xs-left">
        <%= link_to "Browse Shows", shows_path %>
      </li>
    </ul>
  </div>
</div>
