
<div class="row" id="user-menu">
  <div class="container">
    <ul>
      <li class="col-sm-4 text-xs-center">
        <%= link_to "Discover Products", root_path %>
      </li>
      <li class="col-sm-4 text-xs-center">
        <%= link_to "Search Products", products_path %>
      </li>
      <li class="col-sm-4 text-xs-center">
        <%= link_to "Browse Shows", shows_path %>
      </li>
    </ul>
  </div>
</div>
